In [1]:
import yfinance as yf
import lxml

In [4]:
#Get Microsoft ticker
MSFT = yf.Ticker("MSFT")
print (MSFT)

yfinance.Ticker object <MSFT>

In [5]:
MSFT.info

{'zip': '98052',
 'sector': 'Technology',
 'fullTimeEmployees': 144000,
 'longBusinessSummary': "Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company's Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); and Skype, Outlook.com, and OneDrive. It also provides LinkedIn that includes Talent and marketing solutions, and subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. The company's Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also provides support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. The company's More Personal Computing segment offers Windows OEM licensing and other non-volume licensing of the Windows operating system; Windows Commercial comprising volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also provides Microsoft Surface, PC accessories, and other intelligent devices; Gaming, including Xbox hardware, and Xbox software and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through distributors and resellers; and directly through digital marketplaces, online stores, and retail stores. It has strategic partnerships with Humana Inc. and Nokia. The company was founded in 1975 and is headquartered in Redmond, Washington.",
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425-706-7329',
 'industry': 'Software—Infrastructure',
 'previousClose': 160.23,
 'regularMarketOpen': 159.4,
 'twoHundredDayAverage': 154.0316,
 'trailingAnnualDividendYield': 0.012107596,
 'payoutRatio': 0.32930002,
 'volume24Hr': None,
 'regularMarketDayHigh': 164.78,
 'navPrice': None,
 'averageDailyVolume10Day': 70312100,
 'totalAssets': None,
 'regularMarketPreviousClose': 160.23,
 'fiftyDayAverage': 162.63515,
 'trailingAnnualDividendRate': 1.94,
 'open': 159.4,
 'toCurrency': None,
 'averageVolume10days': 70312100,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.04,
 'exDividendDate': 1589932800,
 'beta': 1.091844,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 156.56,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 27.470823,
 'regularMarketVolume': 66949339,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1199550103552,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 48371045,
 'priceToSalesTrailing12Months': 8.935263,
 'dayLow': 156.56,
 'ask': 157.4,
 'ytdReturn': None,
 'askSize': 900,
 'volume': 66949339,
 'fiftyTwoWeekHigh': 190.7,
 'forwardPE': 25.355307,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 2,
 'fiftyTwoWeekLow': 118.38,
 'bid': 156.5,
 'tradeable': True,
 'dividendYield': 0.0127,
 'bidSize': 1200,
 'dayHigh': 164.78,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 8.571,
 'beta3Year': None,
 'profitMargins': 0.33016,
 'enterpriseToEbitda': 18.781,
 '52WeekChange': 0.3443241,
 'morningStarRiskRating': None,
 'forwardEps': 6.22,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7606049792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 14.467,
 'sharesShort': 55155176,
 'sharesPercentSharesOut': 0.0073,
 'fundFamily': None,
 'lastFiscalYearEnd': 1561852800,
 'heldPercentInstitutions': 0.74427,
 'netIncomeToCommon': 44323000320,
 'trailingEps': 5.741,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.08390999,
 'priceToBook': 10.901362,
 'heldPercentInsiders': 0.01421,
 'nextFiscalYearEnd': 1625011200,
 'mostRecentQuarter': 1577750400,
 'shortRatio': 0.91,
 'sharesShortPreviousMonthDate': 1581638400,
 'floatShares': 7495074784,
 'enterpriseValue': 1150640193536,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.383,
 'dateShortInterest': 1584057600,
 'pegRatio': 1.88,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0073,
 'sharesShortPriorMonth': 56193866,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 159.4,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [10]:
MSFT.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.06,0.07,0.06,0.06,1031788800,0.0,0.0
1986-03-14,0.06,0.07,0.06,0.06,308160000,0.0,0.0
1986-03-17,0.06,0.07,0.06,0.07,133171200,0.0,0.0
1986-03-18,0.07,0.07,0.06,0.06,67766400,0.0,0.0
1986-03-19,0.06,0.06,0.06,0.06,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-03-25,148.91,154.33,144.44,146.92,75638200,0.0,0.0
2020-03-26,148.40,156.66,148.37,156.11,64568100,0.0,0.0
2020-03-27,151.75,154.89,149.20,149.70,57042300,0.0,0.0
2020-03-30,152.44,160.60,150.01,160.23,63132100,0.0,0.0
2020-03-31,159.40,164.78,156.56,157.71,66949339,0.0,0.0

In [13]:
MSFT.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [14]:
MSFT.major_holders

        0                                      1
0   1.42%        % of Shares Held by All Insider
1  74.43%       % of Shares Held by Institutions
2  75.50%        % of Float Held by Institutions
3    4561  Number of Institutions Holding Shares

In [16]:
MSFT.cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [17]:
MSFT.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [18]:
MSFT.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [19]:
MSFT.recommendations

                          Firm        To Grade From Grade Action
Date
2012-07-20       Goldman Sachs         Neutral              main
2012-07-20  Griffin Securities             Buy              init
2012-08-20    Longbow Research             Buy              init
2012-09-12           Jefferies            Hold              init
2012-10-01         RBC Capital  Sector Perform              down
...                        ...             ...        ...    ...
2020-02-03                CFRA             Buy              main
2020-03-17       Deutsche Bank             Buy              main
2020-03-25      Morgan Stanley      Overweight              main
2020-03-31           Citigroup         Neutral              main
2020-03-31       Piper Sandler      Overweight              main

[250 rows x 4 columns]

In [20]:
MSFT.calendar

                                    0                    1
Earnings Date     2020-04-22 00:00:00  2020-04-27 00:00:00
Earnings Average                  1.3                  1.3
Earnings Low                     1.17                 1.17
Earnings High                    1.43                 1.43
Revenue Average           34235300000          34235300000
Revenue Low               32796000000          32796000000
Revenue High              35111000000          35111000000

In [22]:
MSFT.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [23]:
MSFT.options

('2020-04-02',
 '2020-04-08',
 '2020-04-16',
 '2020-04-23',
 '2020-04-30',
 '2020-05-07',
 '2020-05-14',
 '2020-06-18',
 '2020-07-16',
 '2020-09-17',
 '2020-10-15',
 '2020-12-17',
 '2021-01-14',
 '2021-03-18',
 '2021-06-17',
 '2021-09-16',
 '2022-01-20',
 '2022-03-17',
 '2022-06-16',
 '2022-09-15')

In [24]:
##############################################################################

In [25]:
# Try with AAPL

In [26]:
AAPL = yf.Ticker("AAPL")

In [27]:
AAPL.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 137000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides digital content stores and streaming services; AppleCare support services; and iCloud, a cloud service, which stores music, photos, contacts, calendars, mail, documents, and others. In addition, the company offers various service, such as Apple Arcade, a game subscription service; Apple Card, a co-branded credit card; Apple News+, a subscription news and magazine service; and Apple Pay, a cashless payment service, as well as licenses its intellectual property, and provides other related services. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store, Mac App Store, and Watch App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 254.81,
 'regularMarketOpen': 255.6,
 'twoHundredDayAverage': 270.7578,
 'trailingAnnualDividendYield': 0.011930458,
 'payoutRatio': 0.2394,
 'volume24Hr': None,
 'regularMarketDayHigh': 262.4894,
 'navPrice': None,
 'averageDailyVolume10Day': 64664333,
 'totalAssets': None,
 'regularMarketPreviousClose': 254.81,
 'fiftyDayAverage': 281.12628,
 'trailingAnnualDividendRate': 3.04,
 'open': 255.6,
 'toCurrency': None,
 'averageVolume10days': 64664333,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 3.08,
 'exDividendDate': 1581033600,
 'beta': 1.292953,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 252,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 20.189756,
 'regularMarketVolume': 41138788,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1112640716800,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 48943045,
 'priceToSalesTrailing12Months': 4.156561,
 'dayLow': 252,
 'ask': 252.3,
 'ytdReturn': None,
 'askSize': 1200,
 'volume': 41138788,
 'fiftyTwoWeekHigh': 327.85,
 'forwardPE': 16.685696,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.6,
 'fiftyTwoWeekLow': 170.27,
 'bid': 251.71,
 'tradeable': True,
 'dividendYield': 0.0121,
 'bidSize': 1000,
 'dayHigh': 262.4894,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 4.173,
 'beta3Year': None,
 'profitMargins': 0.21490999,
 'enterpriseToEbitda': 14.3,
 '52WeekChange': 0.31331813,
 'morningStarRiskRating': None,
 'forwardEps': 15.24,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 4375479808,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 20.418,
 'sharesShort': 38427917,
 'sharesPercentSharesOut': 0.0088,
 'fundFamily': None,
 'lastFiscalYearEnd': 1569628800,
 'heldPercentInstitutions': 0.61926997,
 'netIncomeToCommon': 57527001088,
 'trailingEps': 12.595,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.08390999,
 'priceToBook': 12.454207,
 'heldPercentInsiders': 0.00066,
 'nextFiscalYearEnd': 1632787200,
 'mostRecentQuarter': 1577491200,
 'shortRatio': 0.65,
 'sharesShortPreviousMonthDate': 1581638400,
 'floatShares': 4370535708,
 'enterpriseValue': 1117110534144,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1402272000,
 'lastSplitFactor': '7:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.114,
 'dateShortInterest': 1584057600,
 'pegRatio': 1.67,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0088,
 'sharesShortPriorMonth': 40890848,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 255.6,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [28]:
AAPL.history(period="max")

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
1980-12-12    0.41    0.41    0.41    0.41  117258400        0.0           0.0
1980-12-15    0.39    0.39    0.39    0.39   43971200        0.0           0.0
1980-12-16    0.36    0.36    0.36    0.36   26432000        0.0           0.0
1980-12-17    0.37    0.37    0.37    0.37   21610400        0.0           0.0
1980-12-18    0.38    0.38    0.38    0.38   18362400        0.0           0.0
...            ...     ...     ...     ...        ...        ...           ...
2020-03-25  250.75  258.25  244.30  245.52   75900500        0.0           0.0
2020-03-26  246.52  258.68  246.36  258.44   63021800        0.0           0.0
2020-03-27  252.75  255.87  247.05  247.74   51054200        0.0           0.0
2020-03-30  250.74  255.52  249.40  254.81   41938500        0.0           0.0
2020-03-31  255.60  262.49  252.00  254.29   41138788        0.0           0.0

[9908 rows x 7 columns]

In [29]:
AAPL.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [30]:
AAPL.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  61.93%       % of Shares Held by Institutions
2  61.97%        % of Float Held by Institutions
3    4280  Number of Institutions Holding Shares

In [31]:
AAPL.cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [32]:
AAPL.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [33]:
AAPL.recommendations

                         Firm    To Grade From Grade Action
Date
2012-07-11                UBS         Buy              init
2012-07-25     Morgan Stanley  Overweight              main
2012-07-25      Raymond James  Outperform              down
2012-07-25  Canaccord Genuity         Buy              main
2012-07-25    Bank of America         Buy              main
...                       ...         ...        ...    ...
2020-03-17          Jefferies         Buy              reit
2020-03-19  Canaccord Genuity         Buy              main
2020-03-23    Nomura Instinet     Neutral              main
2020-03-25      Deutsche Bank         Buy       Hold     up
2020-03-30                UBS         Buy              main

[659 rows x 4 columns]

In [34]:
AAPL.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [35]:
AAPL.options

('2020-04-02',
 '2020-04-08',
 '2020-04-16',
 '2020-04-23',
 '2020-04-30',
 '2020-05-07',
 '2020-05-14',
 '2020-06-18',
 '2020-07-16',
 '2020-09-17',
 '2020-10-15',
 '2020-12-17',
 '2021-01-14',
 '2021-06-17',
 '2021-09-16',
 '2022-01-20',
 '2022-06-16')

In [41]:
AAPL.info['fiftyDayAverage']

281.12628

In [42]:
AAPL.info['averageVolume10days']

64664333

In [43]:
AAPL.info['beta']

1.292953

In [44]:
AAPL.info['dividendRate']

3.08

In [45]:
AAPL.info['trailingPE']

20.189756

In [46]:
AAPL.info['ask']

252.3

In [47]:
AAPL.info['fiftyTwoWeekHigh']

327.85

In [49]:
AAPL.info['profitMargins']

0.21490999

In [50]:
AAPL.info['bookValue']

20.418

In [51]:
AAPL.info['previousClose']

254.81

In [52]:
#########################

In [53]:
#PANDAS

In [54]:
import datetime

# To grab stock data
import yfinance as fyf
from pandas_datareader import data as pdr
fyf.pdr_override() # <-- Here is the fix

ModuleNotFoundError: No module named 'pandas_datareader'

In [55]:
# Set start and end dates
start = datetime.datetime(2013, 1, 1)
end   = datetime.datetime(2018, 3, 9)

# Grab data
data = pdr.get_data_yahoo(stocks, start = start, end = end)

NameError: name 'pdr' is not defined